body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 207, 207);
}
.main-div{
    margin: 20px 60px 20px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center{
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.to-right{
    float: right;
}

.to-left{
    float: left;
    margin-left: 20px;
}

.intro{
    text-align: center;
    padding-top: 20px;
}

.left-div{
    float: left;
    width: 30%;
    height: 60vh;
    background-color: rgb(184, 184, 184);
    overflow: auto;
    overflow-y: scroll;
}
.right-div{
    float: right;
    width: 70%;
    height: 60vh;
    background-color: white;
}
table{
    padding: 0 10px 0 15px;
    width: 100%;
}
td{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
tr:hover { 
    background: rgb(218, 218, 218); 
 }

.contents{
    padding: 10px;
}

.email{
    height: 35vh;
    overflow: auto;
    overflow-y: scroll;
}

textarea{
    width: 80%;
    height: 15vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    float: left;
}
/* hidding scroll bars */
.left-div::-webkit-scrollbar {
    display: none;
}  
.email::-webkit-scrollbar {
    display: none;
}

.send-btn{
    background-color: #4CAF50;
    color: white;
    
}
.send-btn:hover {
    background-color: #45a049;
  }

.other-div{
    padding-bottom: 10px;
    width: 30%;
}

.btn{
    
    padding: 14px 20px;
    margin: 8px 0 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
}

.create-group-btn{
    background-color: #4CAF50;
    color: white;
}

.new-message-btn{
    color: black;
    background-color: white;
    float: right;
    margin-right: 20px;
}

footer{
    overflow: hidden;
    position: absolute;
    margin-top: 70px;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px;
}
